@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Patrick+Hand&family=Roboto+Mono&family=Rubik+Mono+One&family=VT323&display=swap');
body, html {

  background-color: black;
  color: #eee;
  font-family: sans-serif;
  height: 100%;

}

body {
  font-size: 2rem;
}
 .fullWidth img {
   margin: 2vmin;
 }

.mainContainer {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1vmin;
  grid-row-gap: 1vmin;
  padding: 0 10vw 0 10vw;
}

.header {
  background-color: black;
  font-size: 7vmin;
  height: 60vmin;
  line-height: 20vmin;
  background-image: url('codebackground.gif');
  font-family: 'Roboto Mono', monospace;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.footer {
  background-color: black;
  font-size: 3vmin;
  line-height: 10vmin;
  background-image: url('codebackground.gif');
  font-family: 'Roboto Mono', monospace;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.fullWidth {
  grid-column-start: 0;
  grid-column-end: span 4;
}

.twoColumn {
  grid-column-end: span 2;
}

img, video {
  width: 100%;
}


.section {
  border-top: 1vh solid #eee;
  grid-column-start: 0;
  grid-column-end: span 4;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  line-height: 4.5vmin;
  font-size: 3vmin;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1vmin;
  grid-row-gap: 1vmin;
  margin-top: 5vh;
}
